<form class="container">

    <label for="usuario">Nombre</label>
    <input [(ngModel)]="nombre" type="text" id="usuario" name="usuario" required >
    
    <label for="password">Número de móvil o dirección de correo electrónico</label>
    <input [(ngModel)]="mailOrPhone" type="password" id="contrasena" name="contrasena" required>
  
    <label for="password">Password</label>
    <input [(ngModel)]="password" type="password" id="contrasena" name="contrasena" required>
    
    <label for="password">Confirmar password</label>
    <input [(ngModel)]="passwordConfirm" type="password" id="contrasena" name="contrasena" required>
  
    <button type="button" (click)="registrarse()">Continuar</button>
    <button type="button" (click)="entrar()">Ya tengo cuenta</button>

  </form>
